<h1 class="text-center">Xox-game</h1>
<h2 class="alert alert-warning text-center">
  {{message}}
</h2>
<button (click)="NewGame();" class="btn btn-primary w-100">
  New Game
</button>
<div class="row my-3">
  <button (click)="SetMark(i)"
    class="btn my-1 col-md-4 border border-1 text-white d-flex justify-content-center align-items-center py-auto"[ngClass]="Winner(i)"
    style="height: 200px; cursor: pointer;" *ngFor="let game of games let i=index;">
    <span class="fw-bolder text-info" style="font-size: 150px;">{{game}}</span>
</button>
</div>
<hr>
<h4 *ngIf="moves.length!=0">Previous Moves</h4>
<div disabled class="badge" *ngFor="let mark of moves let index=index">
  <button class="btn btn-success" style="cursor: default;">{{index+1}} : {{mark}}</button>  
</div>